* {
    margin: 0;
    padding: 0;
}

.header__ {
    height: 10vh;
    width: 100%;
    background-color: rgb(161, 76, 76);
}

.header__ {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.nomber_1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(71, 133, 52, 0.3);
    text-align: center;
    padding: 30px;
    float: left;
}

.nomber_2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(68, 65, 192, 0.3);
    padding: 30px;
    float: left;
}

.nomber_3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(173, 12, 12, 0.3);
    text-align: center;
    padding: 30px;
    float: left;
}

.nomber_4 {
    height: 100vh;
    width: 100%;
    background-color: rgb(68, 65, 192, 0.3);
    padding: 30px;
    float: left;
}

.list {
    height: 100%;
    width: 30%;
    background-color: rgba(46, 133, 136, 0.342);
    float: left;
}

.work {
    height: 100%;
    width: 69%;
    background-color: rgba(31, 105, 29, 0.432);
    float: left;
}

