@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

html, body {
    height: 100%;
    // background: #667db6;
    // background: -webkit-linear-gradient(#667db6, #0082c8, #0082c8, #667db6);
    // background: linear-gradient(#667db6, #0082c8, #0082c8, #667db6);
    background: rgb(20,20,27);
    background: linear-gradient(180deg, rgba(20,20,27,1) 0%, rgba(112,122,142,1) 100%);
}

.swiper {
    height: 100vh;
    width: 100%;
}

.swiper-slide.slider__item._1 {
    box-shadow: inset 0 0 calc(var(--index) * 5) rgba(0, 0, 0, 0.199);
    height: 100vh;
    width: 100%;
    color:white;
    font-size: calc(var(--index) * 1);
}

.nav_list_left li {
    font-weight: calc(var(--index) * .7);
    font-size: calc(var(--index) * .8);
    color: black;
    background: #d28f20;
    border: 0;
    padding: calc(var(--index) * .6);
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
    position: relative;
    text-align: center;
    margin-bottom: calc(var(--index) * .7);
    margin-left: calc(var(--index) * 4);
    list-style-type:none;
    border-radius: calc(var(--index) * .1);
    box-shadow: inset 0 0 calc(var(--index) * 1) rgba(0, 0, 0, 0.616);
    

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav_list_left li:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
    background-color:white;
    color: #707a8e;
}

.nav_list_left li:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
}

.nav_list_left li::before {
    content: "";
    position: absolute;
    inset: calc(var(--size-3) * -1);
    border: var(--size-2) solid white;
    transform: scale(var(--border-scale, 0));
    transition: transform 0.125s;
  
    --angle-one: 105deg;
    --angle-two: 290deg;
    --spread-one: 30deg;
    --spread-two: 40deg;
    --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
    --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
    --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
    --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));
  
    mask: conic-gradient(
        transparent 0 var(--start-one),
        white var(--start-one) var(--end-one),
        transparent var(--end-one) var(--start-two),
        white var(--start-two) var(--end-two),
        transparent var(--end-two)
  );
  
  z-index: -1;
}

.nav_list_left a {
    text-decoration: none;
}

// .nav_list_left li:first-of-type {
//     padding-top: calc(var(--index) * 2);
// }

.swiper-slide.slider__item._2 {
    height: 100vh;
    width: 100%;
}

.swiper-slide.slider__item._3 {
    height: 100vh;
    width: 100%;
}

.swiper-slide.slider__item._4 {
    height: 100vh;
    width: 100%;
}

.slider__wrapper {
    will-change: transform;
    transform-style: preserve-3d;
}

.header__ {
    height: 8vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    text-align: right;
    color: white;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo_ {
    position: fixed;
    font-size: calc(var(--index) * 2.3);
    top: calc(var(--index) * .3);
    left: calc(var(--index) * 2.3);
    font-family: 'Tilt Warp', cursive;
    text-shadow: 0 0 5px black;
    color:#d28f20;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header__ a button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 1.5vh;
    font-size: calc(var(--index) * 0.9);
    padding: calc(var(--index) * 0.3);
    font-family: 'Comfortaa', cursive;
    text-shadow: 0 0 calc(var(--index) * .1) #000;
}

.header__ button {
    border: 0;
    background-color: transparent;
    color:white;
    cursor: pointer;
}

.header__ button:hover {

}

.header__ a:not(:last-of-type) {
    padding-right: calc(var(--index) * .4);
}

.header__ a:last-of-type {
    margin-right: calc(var(--index) * 3.5);
    border: calc(var(--index) * .1) solid white;
    border-radius: calc(var(--index) * 0.3);
    padding: calc(var(--index) * .25);
    padding-top: calc(var(--index) * .4);
}

.list {
    text-decoration: none;
    height: 100vh;
    width: 20%;
    float: left;
    padding-top: 11vh;
    font-family: 'Comfortaa', cursive;
    margin-top: calc(var(--index) * 4.2);

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.work {
    height: 100vh;
    width: 80%;
    float: left;
    padding: calc(var(--index) * 3);
    padding-top: 11vh;
    color: rgb(255, 255, 255);
}

.fish_pos {
    margin-top: calc(var(--index) * 2);
    background: rgb(112,122,142);
    background: radial-gradient(circle, rgba(112,122,142,1) 0%, rgba(86,94,110,1) 100%);
    border-radius: calc(var(--index) * 1);
    box-shadow: inset 0 0 calc(var(--index) * 1) rgba(0, 0, 0, 0.5);
    height: 70vh;
}

.img_fish {
    float: left;
    height: calc(var(--index) * 13);
    width: calc(var(--index) * 15);
    margin-right: calc(var(--index) * .8);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: calc(var(--index) * 1);
    margin: calc(var(--index) * .6);
}

.name_fish {
    font-size: calc(var(--index) * 1.5);
}

.content_fish {
    font-size: calc(var(--index) * .65);
}

.text_fish {
    margin: calc(var(--index) * .6);
}

.polygon, .polygon_2, .polygon_3, .polygon_4 {
    opacity: .8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 2;
    
}

.polygon_2 {
    clip-path: polygon(0 9%, 14% 9%, 43% 100%, 0% 100%);


}

.item_1_text {
    padding: calc(var(--index) * 1);
    padding-top: 11vh;
    opacity: 1;
    color: rgb(255, 255, 255);
    z-index: 4;
}

.main_header {
    float: left;
    height: 20vh;
    width: 100%;
    background-color: pink;
    padding-top: calc(var(--index) * 4);
    padding-left: calc(var(--index) * 2.2);
}

.main_text {
    float: left;
    height: 80vh;
    width: 50%;
    background-color: rgba(255, 255, 0, 0.61);
}

.main_present {
    float: left;
    height: 80vh;
    width: 50%;
    background-color: rgba(255, 0, 0, 0.493);
}