@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');


$background: #0F1012;
$header-color: #f9f9f9;
$body-color: #999999;
$body-color-secondary: #292b2e;
$accent-color: #64AAA4;


$color_1: #272727;
$main_text_color:#ffffff;
$text_color: rgb(0, 0, 0);
$price_bg_color: #ffffff;
$color_2: #ffffff;
$color_3: #ffffff;
$color_4: #f4ff5b;
$color_5: #f4ff5b;
$placeholder_color: #6d6d6d;
$polygon_color: #e7e7e7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --index: calc(1vw + 1vh);

    --bg: #dcdde100;     
    --color-icon: rgb(188, 188, 255);  
    --social-icon1: #e4405f;
    --social-icon2: #3b5999;
    --social-icon3: #e4405f;
    --social-icon4: #cd201f;
    --social-icon5: #0077B5;
}

html, body {
    height: 100%;
    background: var(--social-icon2);
    background-color: $color_1;
}

.swiper {
    height: 100vh;
    width: 100%;
}

.swiper-slide.slider__item._1 {
    box-shadow: inset 0 0 calc(var(--index) * 5) rgba(0, 0, 0, 0.199);
    height: 100vh;
    width: 100%;
    color: $main_text_color;
    font-size: calc(var(--index) * 1);
}

.nav_list_left {
    padding-top: calc(var(--index) * 1.3);
}

.nav_list_left button {
    margin-top: calc(var(--index) * .1);
    margin-left: calc(var(--index) * 2.2);
    min-height: calc(var(--index) * 2);
    width: calc(var(--index) * 12);
    border: none;
    padding: calc(var(--index) * .4) calc(var(--index) * .8);
    font-size: calc(var(--index) * .9);
    position: relative;
    background: transparent;
    color: $main_text_color;
    text-transform: uppercase;
    border: calc(var(--index) * .1) solid $main_text_color;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: calc(var(--index) * .1);
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav_list_left button:hover {
    color: #000;
    border: calc(var(--index) * .1) solid $color_3;
}

.all_projects button:hover {
    color: $color_3;
    font-style: italic;
}

.nav_list_left span {
    transition: all 0.7s;
    z-index: -1;
}
.all_projects span {
    transition: all 0.7s;
    z-index: -1;
}

.nav_list_left button .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: $color_4;
  }
.all_projects button .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: $color_4;
  }

.nav_list_left button:hover .first {
    top: 0;
    right: 0;
}
.all_projects button:hover .first {
    top: 0;
    right: 0;
}

.nav_list_left button .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: $color_4;
}
.all_projects button .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: $color_4;
}

.nav_list_left button:hover .second {
    top: 0;
    left: 50%;
}
.all_projects button:hover .second {
    top: 0;
    left: 50%;
}

.nav_list_left button .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: $color_4;
}
.all_projects button .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: $color_4;
}

.nav_list_left button:hover .third {
    top: 0;
    left: 25%;
}
.all_projects button:hover .third {
    top: 0;
    left: 25%;
}

.nav_list_left button .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: $color_4;
}
.all_projects button .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: $color_4;
}

.nav_list_left button:hover .fourth {
    top: 0;
    left: 0;
}
.all_projects button:hover .fourth {
    top: 0;
    left: 0;
}

.all_projects button {
    min-height: calc(var(--index) * 1.7);
    width: calc(var(--index) * 9);
    border: none;
    padding: calc(var(--index) * .2) calc(var(--index) * .5);
    font-size: calc(var(--index) * 1);
    position: relative;
    background: transparent;
    color: $color_4;
    text-transform: uppercase;
    border: calc(var(--index) * .1) solid $color_4;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: calc(var(--index) * .1);
}

.nav_list_left a {
    text-decoration: none;
}

.nav_list_left li:first-of-type {
    padding-top: calc(var(--index) * 2);
}

.swiper-slide.slider__item._2 {
    height: 100vh;
    width: 100%;
}

.swiper-slide.slider__item._3 {
    height: 100vh;
    width: 100%;
}

.swiper-slide.slider__item._4 {
    height: 100vh;
    width: 100%;
}

.slider__wrapper {
    will-change: transform;
    transform-style: preserve-3d;
}

.header__ {
    height: 8vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    text-align: right;
    color: $main_text_color;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo_ {
    position: fixed;
    font-size: calc(var(--index) * 2.5);
    top: calc(var(--index) * 1.3);
    left: calc(var(--index) * 5);
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
    color:$color_5;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header__ a button {
    text-decoration: none;
    color: $main_text_color;
    margin-top: 1.5vh;
    font-size: calc(var(--index) * 0.9);
    padding: calc(var(--index) * 0.3);
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0 calc(var(--index) * .1) #000;
}

.header__ button {
    border: 0;
    background-color: transparent;
    color:white;
    cursor: pointer;
}

.header__ button:hover {

}

.header__ a:not(:last-of-type) {
    padding-right: calc(var(--index) * .4);
}

.header__ a:last-of-type {
    margin-right: calc(var(--index) * 3.5);
    padding: calc(var(--index) * .25);
    padding-top: calc(var(--index) * .4);
}

.list {
    text-decoration: none;
    height: 100vh;
    width: 20%;
    float: left;
    padding-top: 11vh;
    font-family: 'Rubik', sans-serif;
    margin-top: calc(var(--index) * 4.2);

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.work {
    height: 100vh;
    width: 80%;
    float: left;
    padding: calc(var(--index) * 3);
    padding-top: 11vh;
    color: $text_color;
}

.fish_pos {
    margin-top: calc(var(--index) * 2);
    background: $color_3;
    border-radius: calc(var(--index) * 1);
    box-shadow: inset 0 0 calc(var(--index) * 1) rgba(0, 0, 0, 0.5);
    height: 70vh;
}

.img_fish {
    float: left;
    height: calc(var(--index) * 13);
    width: calc(var(--index) * 15);
    margin-right: calc(var(--index) * .8);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: calc(var(--index) * 1);
    margin: calc(var(--index) * .6);
}

.name_fish {
    font-size: calc(var(--index) * 1.5);
}

.content_fish {
    font-size: calc(var(--index) * .65);
}

.text_fish {
    margin: calc(var(--index) * .6);
}

.item_1_text {
    padding: calc(var(--index) * 1);
    padding-top: 11vh;
    opacity: 1;
    color: $text_color;
    z-index: 4;
}

.main_header {
    float: left;
    height: 20vh;
    width: 100%;
    padding-top: calc(var(--index) * 3.5);
    padding-left: calc(var(--index) * 2.2);
    font-family: 'Rubik', sans-serif;
}

.main_header h2 {
    font-size: calc(var(--index) * 1);
    padding-top: calc(var(--index) * .8);
    margin-left: calc(var(--index) * 2.9);
}

.main_header p {
    font-size: calc(var(--index) * .7);
    padding-top: calc(var(--index) * .2);
    margin-left: calc(var(--index) * 2.9);
}

.main_text {
    float: left;
    height: 80vh;
    width: 50%;
    padding: calc(var(--index) * 2);
}

.input_text input[required] {
    margin-bottom: calc(var(--index) * .2);
    height: calc(var(--index) * 2);
    width: calc(var(--index) * 15);
    background-color: $color_3;
    text-align: center;
    font-size: calc(var(--index) * .6);
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    box-shadow: inset 0 0 calc(var(--index) * 1) #0000006c;
}

.input_text input:hover[required] {
    box-shadow: 0 0 calc(var(--index) * 1) $color_3;
}

.btn_send input {
    height: calc(var(--index) * 2);
    width: calc(var(--index) * 5);
    background-color: $color_3;
    font-size: calc(var(--index) * .5);
}

.btn_send {
    margin-left: calc(var(--index) * 9.9);
    border: 0;
}

.btn_send:hover,
.btn_send:focus {
}

::-webkit-input-placeholder {color:$placeholder_color}
::-moz-placeholder          {color:$placeholder_color}
:-moz-placeholder           {color:$placeholder_color}
:-ms-input-placeholder      {color:$placeholder_color}

.send_btm button {
    padding: calc(var(--index) * .2);
    height: calc(var(--index) * 2);
    width: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 10);
    background-color: $color_4;
}

.recall {
    position: relative;
    bottom: calc(var(--index) * 3);
    right: calc(var(--index) * 7);
    font-size: calc(var(--index) * 1.2);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    transform: rotate(-7deg);
}

.send_menu {
    position: relative;
    top: calc(var(--index) * 5.5);
    left: calc(var(--index) * 7);
}

.main_present {
    position: relative;
    float: left;
    height: 75vh;
    width: 46%;
    margin: 2%;
    border-radius: calc(var(--index) * 1);
}

.main_present img {
    position: absolute;
    top: 39%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 69%;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.507);
    border-radius: calc(var(--index) * .2);
    opacity: .9;
}

video {
    position: absolute;
    top: 37%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 40%;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.507);
    border-radius: calc(var(--index) * .2);
    opacity: .9;
}


#logo_img {
    position: fixed;
    height: calc(var(--index) * 5);
    width: calc(var(--index) * 5);
    top: calc(var(--index) * .1);
    left: calc(var(--index) * .1);
}

.main_img_text {
    display: flex;
    position: fixed;
    top: calc(var(--index) * 10.5);
    right: calc(var(--index) * 2);
    z-index: 3;
    color: $text_color;
    font-family: 'Rubik', sans-serif;
    font-size: calc(var(--index) * .6);
    transform: rotate(15deg);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;  
    background: var(--bg);
    z-index: -10;
  }
  
  .icon-list {
    width: 100%;
    max-width: 50rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .icon-item {
    list-style: none;
  }
  
  .icon-link {  
    display: inline-flex;
    font-size: calc(var(--index) * 2);  
    text-decoration: none;  
    color: $color_5;
    width: 6rem;
    height: 6rem;   
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto
  }
  
  .icon-link:hover {
    color: $text_color;
  }
  
  .icon-link i {
    margin: auto;    
  }
  
  .icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  
  .icon-item:nth-child(1) a:hover:before { 
    background: var(--social-icon5); 
  }
  
  .icon-item:nth-child(2) a:hover:before { 
    background: var(--social-icon2); 
  }
  
  .icon-item:nth-child(3) a:hover:before { 
    background: var(--social-icon3); 
  }
  
  .icon-item:nth-child(4) a:hover:before { 
    background: var(--social-icon4); 
  }
  
  .icon-item:nth-child(5) a:hover:before { 
    background: var(--social-icon5); 
  }

.icon-list {
    position: relative;
    top: calc(var(--index) * 9);
  }

.text_clear {
    height: 100vh;
    width: 100%;
    position: relative;
    right: 9%;
    top: 16vh;
    color: black;
    text-align: center;
    z-index: 3;
    padding-bottom: 2vh;
    padding-top: 4vh;
    padding-left: 42%;
}

.text_clear_text h3 {
    font-size: calc(var(--index) * .8);
    padding: calc(var(--index) * .2);
    text-align: left;
    color:$text_color;
    
}

.text_clear_text p {
    font-size: calc(var(--index) * .7);
    text-align: left;
}

.polygon_3 {
    height: 100vh;
    width: 100%;
    background: $polygon_color;
    z-index: 2;
    padding-top: 14vh;
    padding-right: calc(var(--index) * 10);
    -webkit-clip-path: polygon(97% 23%, 92% 100%, 0 100%, 0 7%);
    clip-path: polygon(97% 23%, 92% 100%, 0 100%, 0 7%);
}
.polygon_2 {
    height: 100vh;
    width: 100%;
    background: $polygon_color;
    z-index: 2;
    -webkit-clip-path: polygon(23% 13%, 100% 7%, 100% 100%, 29% 100%);
clip-path: polygon(23% 13%, 100% 7%, 100% 100%, 29% 100%);
}

.attench {
    padding: calc(var(--index) * 1);
    font-size: calc(var(--index) * .7);
    color:$text_color;
}

.demo-title {
    color: $text_color;
    text-shadow: #000 1px 1px 1px;
    text-align:center;
    font-size: calc(var(--index) * 1.7);
    margin-bottom: 1vh;
    padding-top: 2vh;
}

.tbl_block {
    padding-left: 14%;
    padding-top: 6vh;
}

// variables
$icon-size: calc(var(--index) * 1.5);
$icon-color: $color_3;
$main-color: rgb(188, 188, 255);

// Pricing table
.pricing-table {
    display: table;
    width: 100%;
    .pricing-option {
        width: 32%;
        height: 36vh;
        margin-top: 1vh;
        margin-right: 1vh;
        background: $price_bg_color;
        float: left;
        padding: 1.5%;
        text-align: center;
        transition: all .3s ease-in-out;
        &:nth-child(even) {
            margin-top: 1vh;
            margin-right: 1vh;
        }
        hr {
            border:none;
            border-bottom: calc(var(--index) * .1) solid #e2e2e26b;
        }
        i {
            font-size: $icon-size;
            color: $icon-color;
            transition: all .3s ease-in-out;
        }
        h1 {
            color: #212121;
            transition: all .3s ease-in-out;
            font-size: calc(var(--index) * .8);
        }
        p {
            color: rgba(0, 0, 0, 0.801);
            font-size: calc(var(--index) * .6);
            padding: 0 calc(var(--index) * 1);
            line-height: 1.3;
        }
        .price {
            position: relative;
            .front {
                span.price {
                    font-size: calc(var(--index) * .8);
                    text-transform: uppercase;
                    margin-top: 20px;
                    display: block;
                    font-weight: 700;
                    position: relative;
                    b {
                        position: absolute;
                        font-size: calc(var(--index) * .5);
                        margin-left: calc(var(--index) * .1);
                        font-weight: 600;
                    }
                }
            }
            .back {
                opacity: 1;
                visibility: hidden;
                transition: all .3s ease-in-out;
                a.button {
                    background: $main-color;
                    padding: 15px 20px;
                    display: inline-block;
                    text-decoration: none;
                    color: $text_color;
                    position: absolute;
                    font-size: 13px;
                    top: -1%;
                    left: 0;
                    right: 0;
                    width: 150px;
                    margin: auto;
                    text-transform: uppercase;
                    transform: translateY(20px);
                    transition: all .3s ease-in-out;
                    &:hover {
                        background: darken($main-color, 10%);
                    }
                }
            }
        }
    }
}

.m3 {
    font-size: calc(var(--index) * .7);
}


// Responsive
@media screen and (max-width: 600px) {
    .pricing-table {
        .pricing-option {
            padding: 5%;
            width: 90%;
            &:nth-child(even) {
                margin: 30px 0 !important;
            }
        }
    }
}

.material-icons-outlined {
    color: #000;
}