{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'prudi\libs\swiper\swiper-bundle.min.css' %}">
    <script src="{% static 'prudi\libs\swiper\swiper-bundle.min.js' %}" defer></script>
    <script src="{% static 'prudi\libs\particles\particles.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'prudi/font-awesome-4.7.0/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'prudi\css\main.css' %}">
    <script src="{% static 'prudi\js\main.js' %}" defer></script>

    <title>Document</title>
</head>
<body> 
    <header class="header__">
            <div id="logo_"><img id="logo_img" src="../../static/prudi/images/logo_.png">CrimeaPonds</div>
        <nav>

            <a><button onclick="scrollToMain()">Главная</button></a>
            <a><button onclick="scrollToClear()">Система очистки</button></a>
            <a><button onclick="scrollToPrice()">Цены</button></a>
            <a><button onclick="scrollToSame()">Дополнительно</button></a>
            <a class="all_projects" href="{% url 'demo' %}"><button>Наши проекты
                <span class="first"></span><span class="second"></span><span class="third"></span><span class="fourth"></span>
            </button></a>
            
        </nav>
    </header>
        <div class="swiper slider">
            <div class="swiper-wrapper slider__wrapper">

                <div id="main_menu" class="swiper-slide slider__item _1">
                    <div class="main_header">
                        <h2>Красота, которую вы можете создать своими руками!</h2>
                        <p>У нас вы найдете широкий выбор искусственных прудов и аксессуаров для создания неповторимой атмосферы в вашем саду или на участке!</p>
                    </div>
                    <div class="main_text">
                        <div class="send_menu">
                            <div><h1 class="recall">Оставьте свой номер и мы вам перезвоним!</h1></div>
                            
                            


                            <div>
                                <form method="post" action="{% url 'contact_form' %}">
                                    {% csrf_token %}
                                <div class="input_text">
                                    <input type="text" name="name" required><br>
                                    <input type="tel" name="phone" required><br>
                                    <input type="hidden" name="url_from" value="{{ request.META.HTTP_REFERER }}">
                                    <input type="submit" value="Отправить">
                                </div>
                                </form>                                                               
                            </div>
                            



                        </div>
                        <div class="icons_nav">
                            <section>
                                <ul class="icon-list">
                                  <li class="icon-item">
                                    <a href="#" class="icon-link"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                  </li>
                                  <li class="icon-item">
                                    <a href="#" class="icon-link"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                  </li>
                                  <li class="icon-item">
                                    <a href="#" class="icon-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                  </li>
                                  <li class="icon-item">
                                    <a href="#" class="icon-link"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                  </li>    
                                </ul>
                              </section>
                        </div>
                    </div>
                    <div class="main_present">
                        <img class="main_img_1" src="../../static/prudi/images/01.jpg" alt="">
                        <img class="main_img_2" src="../../static/prudi/images/02.jpg" alt="">
                        <img class="main_img_3" src="../../static/prudi/images/03.jpg" alt="">
                        <img class="main_img_4" src="../../static/prudi/images/04.jpg" alt="">
                        <p class="main_img_text">Превратите свой двор в оазис спокойствия</p>
                        <img class="main_img_5" src="../../static/prudi/images/05.jpg" alt="">
                    </div>
                </div>

                <div id="clear" class="swiper-slide slider__item _2">
                    <div class="main_present main_present_">
                        <img class="main_img_6" src="../../static/prudi/images/06.jpg" alt="">
                        <img class="main_img_7" src="../../static/prudi/images/07.jpg" alt="">
                    </div>
                    <div class="clear_system">
                        <div class="text_clear">
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure, at, quis suscipit repudiandae autem error ea laboriosam cumque, non explicabo totam nulla obcaecati eligendi debitis illo. Aliquid, id a!</p>
                        </div>
                    </div>
                </div>

                <div id="price" class="swiper-slide slider__item _3">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </div>

                <div id="same" class="swiper-slide slider__item _4">
                    <div class="list">
                        <ul class="nav_list_left">

<a href="{% url 'fish' %}#same"><button>Рыбки<span class="first"></span><span class="second"></span><span class="third"></span><span class="fourth"></span></button></a><br>
<a href="{% url 'sculptures' %}#same"><button>Скульптуры<span class="first"></span><span class="second"></span><span class="third"></span><span class="fourth"></span></button></a><br>
<a href="{% url 'chanel' %}#same"><button>Искусственные русла<span class="first"></span><span class="second"></span><span class="third"></span><span class="fourth"></span></button></a><br>
<a href="{% url 'plants' %}#same"><button>Декоративные растения<span class="first"></span><span class="second"></span><span class="third"></span><span class="fourth"></span></button></a><br>
<a href="{% url 'other' %}#same"><button>Прочие ландшафтные решения<span class="first"></span><span class="second"></span><span class="third"></span><span class="fourth"></span></button></a>
                            
                        </ul>
                    </div>

                    <div class="work">
                        {% block content %}
                    
                        {% endblock %}
                    </div>  
                </div>

            </div>
        </div>

</body>
</html>

