{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'prudi\libs\swiper\swiper-bundle.min.css' %}">
    <script src="{% static 'prudi\libs\swiper\swiper-bundle.min.js' %}" defer></script>
    <script src="{% static 'prudi\libs\particles\particles.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'prudi\css\main.css' %}">
    <script src="{% static 'prudi\js\main.js' %}" defer></script>

    <title>Document</title>
</head>
<body>
    {% comment %} <!-- <header class="header__">
        <button>Главная</button>
        <button>Система очистки</button>
        <button>цены</button>
        <button>Доп. услуги</button>
        <a href="{% url 'demo' %}"><button>Наши проекты</button></a>
    </header> --> {% endcomment %}
        <div class="swiper slider">
            <div class="swiper-wrapper slider__wrapper">

                <div class="swiper-slide slider__item _1">

                </div>
                <div class="swiper-slide slider__item _2">
                </div>
                <div class="swiper-slide slider__item _3">
                </div>
                <div class="swiper-slide slider__item _4">
                    <div class="list">
                        <ul>
                            <a href="{% url 'fish' %}"><button><li>Рыбки</li></button></a>
                            <a href="{% url 'sculptures' %}"><li>Скульптуры</li></a>
                            <a href="{% url 'chanel' %}"><li>Каналы(искусственные русла)</li></a>
                            <a href="{% url 'plants' %}"><li>Декоративные растения</li></a>
                            <a href="{% url 'other' %}"><li>Прочие ландшафтные решения</li></a>
                            
                        </ul>
                    </div>
                    <div class="work">
                        {% block content %}
                    
                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>

</body>
</html>
