{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'prudi\css\main.css' %}">
    <script src="{% static 'prudi\js\main.js' %}"></script>

    <title>Document</title>
</head>
<body>
    <header class="header__">
        <button>Главная</button>
        <button>Система очистки</button>
        <button>цены</button>
        <button>Доп. услуги</button>
        <a href="{% url 'demo' %}"><button>Наши проекты</button></a>
    </header>
    <div class="nomber_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    <div class="nomber_2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, earum?</div>
    <div class="nomber_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    <div class="nomber_4">
        <div class="list"><ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul></div>
        <div class="work"></div>
    </div>
</body>
</html>


