{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="{% static 'prudi/css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'prudi/font-awesome-4.7.0/css/font-awesome.css' %}">
    <script src="{% static 'prudi/js/demo.js' %}" defer></script>

</head>

<body>

    <div class="container">
        <section class="gallery">

            <div class="frame frame_bg_first">
                <div class="frame_content">
                    <h2>Наши проекты</h2>
                </div>
            </div>

            <div class="frame">
                <div class="frame_content">
                    <div class="frame_media_h frame_media_h_left" style="background-image: url(../../static/prudi/images/1_.jpg);"></div>
                </div>
            </div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <video class="frame_media_w frame_media_w_right" src="../../static/prudi/images/video_optimized.mp4" autoplay loop muted></video>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame">
                <div class="frame_content text_right">
                    <h4>Каскады водопадов</h4>
                    <p>Нет лучшего места, чтобы сидеть у водопада и слушать его музыку</p>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_h frame_media_h_left_h" style="background-image: url(../../static/prudi/images/2_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_w" style="background-image: url(../../static/prudi/images/3_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame">
                <div class="frame_content text_left">
                    <h4>Сложные скульптуры</h4>
                    <p>Я беру глыбу мрамора и отсекаю от нее все лишнее<br>(с) Огюст Роден</p>
                </div>
            </div>

            <div class="frame"></div>



            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_w_r frame_media_w_right_w" style="background-image: url(../../static/prudi/images/4_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame">
                <div class="frame_content text_right">
                    <h4>Рыбки</h4>
                    <p>Лучшие охотники на комаров.<br> Никто не любит комаров!</p>
                </div>
            </div>

            <div class="frame"></div>


            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_h frame_media_h_left_h" style="background-image: url(../../static/prudi/images/5_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>


            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_w_r frame_media_w_right_w" style="background-image: url(../../static/prudi/images/6_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_w" style="background-image: url(../../static/prudi/images/7_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>
            
            <div class="frame frame_bg">
                <div class="frame_content">
                    <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Парк<br> миниатюр</h3>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_h frame_media_w_right_w" style="background-image: url(../../static/prudi/images/8_.jpg);"></div>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Мрия</h3>
                </div>
            </div>

            <div class="frame"></div>

            <div class="frame frame_bg">
                <div class="frame_content">
                    <div class="frame_media_w" style="background-image: url(../../static/prudi/images/9_.JPG);"></div>
                </div>
            </div>

        </section>
    </div>

    <img src="../../../static/prudi/images/sound.gif" alt="Музыка" class="soundbutton paused">

    <audio src="../../../static/prudi/images/ambient.mp3" class="audio" loop></audio>

    <i data-toggle-fullscreen class="fa fa-arrows-alt" aria-hidden="true"></i>
    
</body>

</html>